:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #ff0070;
  --section-title-color: var(--accent-color);
  --button-hover-color: rgb(255 0 112 / 0.4);
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
}

:root.theme-dark .header__decorative-text {
  display: block;
}
