.page {
  font-family: 'IBM Plex mono', monospace;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color);
}

.header {
  padding: var(--padding);
  block-size: max(668px, 100vh);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  position: relative;
  margin-block-end: clamp(40px, 20.92px + 5.09vw, 60px);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: '';
  block-size: 25px;
  inline-size: 25px;
  border-inline-start: 1px solid var(--section-title-color);
  border-block-end: 1px solid var(--section-title-color);
  position: absolute;
  bottom: var(--padding);
  left: var(--padding);
}

.decorated-zone::before {
  content: '';
  block-size: 25px;
  inline-size: 25px;
  border-inline-end: 1px solid var(--section-title-color);
  border-block-start: 1px solid var(--section-title-color);
  position: absolute;
  top: var(--padding);
  right: var(--padding);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 1.5px 13px 4.5px;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  color: var(--section-title-color);
  outline-color: transparent;
  border-block-end-color: transparent;
  transition:
    outline 0.4s,
    border-block-end 0.4s;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--section-title-color);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--section-title-color);
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  outline: 1px solid var(--button-hover-color);
}

.title {
  font-size: clamp(116px, 112.18px + 1.02vw, 120px);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  position: relative;
  left: clamp(-20px, 19.08px + -5.09vw, 0px);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 23.4px;
}

.header__decorative-text {
  position: absolute;
  color: var(--section-title-color);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25px;
  right: calc(var(--padding) + 28px);
  top: var(--padding);
}

.header__decorative-text::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  position: absolute;
  background-color: var(--section-title-color);
  top: 8px;
  right: -18px;
  border-radius: 16px;
  box-shadow: 0 0 4px 2px;
}

.main {
  padding: 0 var(--padding);
  margin-block-end: clamp(40px, 20.92px + 5.09vw, 60px);
  display: grid;
  gap: clamp(50px, 21.37px + 7.63vw, 80px);
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 23.4px;
  color: var(--section-title-color);
}

.section__content {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.section-advices .article {
  gap: 20px;
}

.article__content {
  display: grid;
  gap: 20px;
}

.article__text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23.4px;
  color: var(--text-color);
}

.article__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
  outline-color: transparent;
  border-block-end-color: transparent;
  transition:
    outline 0.4s,
    border-block-end 0.4s;
}

.article__link:focus {
  outline: 0;
}

.article__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.article__link:hover {
  border-block-end: 1px solid var(--text-color);
}

.list-item {
  display: grid;
  gap: 10px;
}

.list-item__title {
  font-weight: 400;
}

.section-gallery {
  gap: clamp(10px, 0.46px + 2.54vw, 20px);
}

.gallery {
  gap: 10px;
}

.image {
  inline-size: 100%;
}

.footer {
  padding: 0 repeat(3, var(--padding));
  block-size: max(668px, 100vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .title {
  left: 0;
}

@media (width >= 768px) {

  .title {
    font-size: clamp(120px, 9px + 14.45vw, 157px);
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .header__text {
    grid-column: 2 / 3;
    grid-row: 3;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .section-causes .section__content {
    grid-column: 1 / 3;
  }

  .section-gallery {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .image {
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .image:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .image:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .image:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .image:nth-of-type(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .image:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}

@media (width >= 1024px) {
  
  .section {
    grid-template-columns: 1fr 2.06fr;
  }

  .section-gallery {
    grid-template-columns: 1fr;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
  }

  .section-causes .section__content {
    grid-column: 1 / 3;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
  }
}
